<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> 杭州功能区 </title>
  <style>
    html,
    body,
    #map {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }

    #container {
      width: 100%;
      height: 1000;
    }
  </style>
</head>

<body>
  <div id="container">
  </div>

  <div id="map"></div>
  <script src="https://webapi.amap.com/maps?v=2.0&key=0ea7e0b5d7a1c4657b75d1ee64e54b66"></script>
  <script src="https://webapi.amap.com/loca?v=2.0.0&key=0ea7e0b5d7a1c4657b75d1ee64e54b66"></script>
  <script>
    // 创建地图实例
    var map = new AMap.Map('container', {
      center: [114.584715, 36.393644],
      zoom: 10,
    });

    // 创建 PrismLayer 实例
    var prismLayer = new Loca.PrismLayer({
      map: map,
    });

    prismLayer.setStyle({
      radius: 20,
      sideNumber: 4,
      sideBottomColor: function () {
        return 'rgba(255,255,0,0.5)';
      },
      // 文字标注配置
      label: {
        text: {
          content: (index, feat) => feat.properties.name
        }
      },
    });

    // 渲染圆柱体
    prismLayer.render();


  </script>
</body>

</html>